*~
.*.swp
.DS_STORE
desktop.ini
project.xcworkspace/
xcuserdata/
xcode/native/
.gradle/
build/
bin/
target/
obj/
out/
classes/
war/
gen/
gen-external-apklibs/
armeabi-v7a/
arm64-v8a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
x86_64/
ipch/
/dist

*.a
*.a.tvos
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
hs_err_pid*
Thumbs.db

micro-*.zip
micro-*.zip.MD5
/android-ndk-*

*.iml
/.idea/

/micro/libs
/extensions/micro-audio/libs/
/extensions/micro-box2d/micro-box2d/libs/
/extensions/micro-freetype/libs/
/extensions/micro-lwjgl3-angle/res

#the LWJGL3 libs are pulled via fetch.xml
/backends/micro-backend-lwjgl3/libs/lwjgl*.jar
/backends/micro-backend-robovm-metalangle/res/META-INF/robovm/ios/libs

#ensure micro-setup.jar works properly
!/extensions/micro-setup/src/com/badlogic/micro/setup/resources/gwt/war

/tmp/

/local.properties
natives.zip

